.foot{
	background-color: black;
	color: white;
	height: 50px;
	font-family: "Constantia";
	text-align: center;
}
.Youtube{
	height: 20%;
	width: 20%;
}
.Youtube{
	background-color: black;
	font-style: bold;
	color: white;
	border: 10px double white;
	margin-right: 10px;
	
}
.GooGle{
	height: 20%;
	width: 20%;
}
.GooGle{
	background-color: black;
	font-style: bold;
	color: white;
	border: 10px double white;
	margin-right: 10px;
}
.Instagram{
	height: 20%;
	width: 20%;
}
.Instagram{
	background-color: black;
	font-style: bold;
	color: white;
	border: 10px double white;
	margin-right: 10px;
}
.Whatsapp{
	height: 20%;
	width: 20%;
}
.Whatsapp{
	background-color: black;
	font-style: bold;
	color: white;
	border: 10px double white;
	margin-right: 10px;

}
